<div class="row">
    <div class="col-md-4">
        <h5>Upload</h5>
        <!-- despues de validar los archivos, los guardamos en el component -->
        <!-- para eso los traemos desde la directiva y lo igualamos al component con [files]="files" -->
        <div appNgDrpoFiles [files]="files" (mouseOn)="isOnDrop = $event" class="well drop-zone" [ngClass]="{'file-over': isOnDrop }">
            <h6>Drag and drop the files here.</h6>
            <img src="assets/img/drop-images.png">
        </div>
    </div>

    <div class="col-md-8">
        <h5>Uploading files</h5>
        <!-- Disable the button if files is empty -->
        <button class="btn btn-success me-1" (click)="uploadImg()" [disabled]="files.length === 0">
            Upload to Firebase
        </button>
        <button class="btn btn-danger" (click)="cleanAll()">
            Clean
        </button>

        <table class="table">
            <thead class="thead=dark">
<tr>
    <th>Name file</th>
    <th>Size</th>
    <th>Progress</th>
</tr>
            </thead>

            <tbody>
                <tr *ngFor="let f of files">
                    <td>{{ f.archiveName }}</td>

                    <!-- el tamano viene en bytes por lo que hay que convertirlo a MB -->
                    <!-- lo redondeamos a 2 decimales -->
                    <td>{{ (f.archive.size / 1024) / 1024 | number: '.2-2'}} MB</td> 
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': f.progress + '%'}"></div>
                          </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>